<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Currency Converter</h1>
    <form method="post">
        <label for="base_currency">Base Currency:</label>
        <select name="base_currency" id="base_currency">
            {% for currency in currencies %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="target_currency">Target Currency:</label>
        <select name="target_currency" id="target_currency">
            {% for currency in currencies %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" step="0.01" required>
        <br>
        <button type="submit">Convert</button>
    </form>
    {% if result %}
    <div class="result-box">
        <p class="result">{{ result }}</p>
    </div>
    {% endif %}
    <div class="footer-info">
        <p>by Dharinesh &nbsp; | &nbsp;&nbsp;<a href="mailto:contact.dharinesh@gmail.com">contact.dharinesh@gmail.com</a></p>
    </div>
</body>
</html>
